# Am I The Asshole? - Data Wrangling, Feature Creation

In [1]:
import pandas as pd

In [2]:
data_submissions = pd.read_csv('datasets/AmItheAsshole_submission_4.csv')
data_comments = pd.read_csv('datasets/AmItheAsshole_comment_4.csv')

In [3]:
data_submissions.shape

(5000, 11)

In [44]:
data_comments.head()

,parent_id,author,body,created_utc,parent,vote
0,t3_eubxnz,countmontecristo,NTA. Tell them if you keep assuming you'll kno...,1580145916,eubxnz,0
1,t3_euobea,EvergreenHulk,NTA. You would think his sponsor would back yo...,1580145898,euobea,0
2,t3_eulpmr,koko775,"NTA, the kid's being territorial. It's a good ...",1580145873,eulpmr,0
3,t3_eugtgu,countmontecristo,"NTA. It's a concert, not karaoke. Next time as...",1580145870,eugtgu,0
4,t3_euq499,ragxdoll,"NTA, you and your fiance are okay with the pla...",1580145860,euq499,0

In [5]:
data_submissions.shape
data_submissions.num_comments.sum()

205569

In [6]:
data_submissions.dtypes

subreddit          object
id                 object
author             object
author_fullname    object
domain             object
title              object
selftext           object
score               int64
num_comments        int64
created_utc         int64
full_link          object
dtype: object

In [7]:
data_submissions.describe()

             score  num_comments   created_utc
count  5000.000000   5000.000000  5.000000e+03
mean      0.999600     41.113800  1.579907e+09
std       0.019998    157.073987  1.370612e+05
min       0.000000      0.000000  1.579663e+09
25%       1.000000      2.000000  1.579795e+09
50%       1.000000     13.000000  1.579904e+09
75%       1.000000     28.000000  1.580024e+09
max       1.000000   5540.000000  1.580145e+09

In [8]:
data_comments.head()
data_comments['parent'] = [id.split('_')[1] for id in data_comments['parent_id']]

In [9]:
data_comments.head()

,parent_id,author,body,created_utc,parent
0,t1_ffqmieq,sthetic,"No kidding!\n\nOP: My brother and I, growing u...",1580145934,ffqmieq
1,t3_eur1sl,AutoModerator,Your post was removed because it exceeds the 3...,1580145932,eur1sl
2,t1_ffqqg8r,KogMaster_9000,It sounds like you have no idea what vegan foo...,1580145923,ffqqg8r
3,t1_ffqv0v8,sancristobal3,It’s the stupidity of his position that shocks...,1580145922,ffqv0v8
4,t1_ffqv78v,familydinneraitaaaa,That was part of why I didn’t ask. He works as...,1580145922,ffqv78v

In [10]:
parent_ids = data_submissions['id'].to_list()

In [11]:
len(parent_ids)

5000

In [12]:
# id is unique for parent post
data_submissions['id'].nunique()

5000

### Update comments dataframe to include only comments corresponding to submissions

In [13]:
irrelevant_ids = []
for i,p in enumerate(data_comments['parent']):
    if p not in parent_ids:
        irrelevant_ids.append(i)
len(irrelevant_ids)

389506

In [14]:
data_comments.drop(irrelevant_ids, inplace=True)
#data_comments.shape #(110494, 5)

In [15]:
data_comments.reset_index(inplace=True, drop=True)

In [16]:
data_submissions

,subreddit,id,author,author_fullname,domain,title,selftext,score,num_comments,created_utc,full_link
0,AmItheAsshole,euqsgi,no_name_maddox,t2_27tzbs85,self.AmItheAsshole,AITA that hates social media when someone famo...,[removed],1,2,1580144914,https://www.reddit.com/r/AmItheAsshole/comment...
1,AmItheAsshole,euqs2b,Lara_Bee,t2_5jh7vath,self.AmItheAsshole,AITA for getting my daughter’s hair cut?,Our daughter is 5. My husband has always wante...,1,5,1580144875,https://www.reddit.com/r/AmItheAsshole/comment...
2,AmItheAsshole,euqrvj,Katdroyd,t2_1xihwele,self.AmItheAsshole,AITA for expecting my husband's help as soon a...,I spend all day home with kids age 5 and 7. Ru...,1,6,1580144854,https://www.reddit.com/r/AmItheAsshole/comment...
3,AmItheAsshole,euqrtz,porter_throwaway,t2_5e7ymd4j,self.AmItheAsshole,AITA for making my roommate pay rent on time,So I live in an downtown apartment with a bunc...,1,3,1580144849,https://www.reddit.com/r/AmItheAsshole/comment...
4,AmItheAsshole,euqrnl,notyourbabygirl15,t2_42oqhea5,self.AmItheAsshole,AITA? She slept with her sick sisters boyfriend,"\nOkay so a little back story, my bestfriend o...",1,2,1580144834,https://www.reddit.com/r/AmItheAsshole/comment...
...,...,...,...,...,...,...,...,...,...,...,...
4995,AmItheAsshole,es64s6,JSouthlake,t2_3i94xgnp,self.AmItheAsshole,WIBTA If I secretly trained my neighbors dogs ...,Redid this to fit the rules.\n\nSo here it is...,1,19,1579663669,https://www.reddit.com/r/AmItheAsshole/comment...
4996,AmItheAsshole,es643t,Dylaniscool5867,t2_5hoyjcpx,self.AmItheAsshole,AITA for asking out my best friend’s former cr...,So to start this out a few months ago my best ...,1,9,1579663575,https://www.reddit.com/r/AmItheAsshole/comment...
4997,AmItheAsshole,es63h5,autumnssong,t2_53mx2fx5,self.AmItheAsshole,AITA for not wanting to be friends anymore?,My (16f) friend (16m) cut me off in December f...,1,16,1579663488,https://www.reddit.com/r/AmItheAsshole/comment...
4998,AmItheAsshole,es62zm,DisruptiveKnob,t2_kq3i6zb,self.AmItheAsshole,AITA for agreeing with my sister asking my wif...,My sister is due next month and messaged my wi...,1,6,1579663421,https://www.reddit.com/r/AmItheAsshole/comment...
4999,AmItheAsshole,es613l,joeygames8,t2_4dvyyrq7,self.AmItheAsshole,AITA for not wanting to be friends with my nei...,My neighbor(female) has lived across the stree...,1,6,1579663163,https://www.reddit.com/r/AmItheAsshole/comment...

### Create total comments feature for each submission (built in num_cols seems incorrect). Total comments includes the ones where a vote was not found, and those ones are later removed from the data.

In [17]:
for sub_id in data_submissions['id'].unique():
    count = data_comments.loc[data_comments['parent'] == sub_id]['parent'].count()
    data_submissions.loc[data_submissions['id'] == sub_id, 'total_comments'] = count

In [18]:
data_submissions.loc[data_submissions['total_comments']==0]

,subreddit,id,author,author_fullname,domain,title,selftext,score,num_comments,created_utc,full_link,total_comments
1354,AmItheAsshole,eu2d5u,noahfro16,t2_34lxinur,self.AmItheAsshole,aita for getting mad at my friend for not sayi...,[removed],1,0,1580014456,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
1938,AmItheAsshole,etsa76,looktwentytwo,t2_5huvprdv,self.AmItheAsshole,AITA for not reaching out to friend whos bf is...,[removed],1,1,1579967139,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
1974,AmItheAsshole,etrflk,donkeytoy,t2_5iw4g3d7,self.AmItheAsshole,aita for the way I reacted to my wife,So me and wife got married five years back. We...,1,0,1579962717,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
2695,AmItheAsshole,ete58q,KirbAppeal,t2_7l342,self.AmItheAsshole,AITA for giving up on a friend because of soci...,"I’ll try to stay concise, I tend to write a lo...",1,0,1579889434,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
2718,AmItheAsshole,etdkje,subguy1979,t2_35ltxtvf,self.AmItheAsshole,So HR called me down.,[removed],1,0,1579887100,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
2719,AmItheAsshole,etdjrp,SatireDiva74,t2_4kcnhwhs,self.AmItheAsshole,AITA For expecting strangers not to speak to m...,[removed],1,0,1579887014,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
2750,AmItheAsshole,etd3m6,WembleyToast,t2_5g0ogcg9,self.AmItheAsshole,AITA for wanting to be realistic about our hyp...,[removed],1,1,1579885176,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
2771,AmItheAsshole,etcv0p,someweeb05,t2_4xeafeak,self.AmItheAsshole,My online girl left me because I was too cling...,[removed],1,1,1579884141,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
2786,AmItheAsshole,etci62,mbw101713,t2_4ychbvd3,self.AmItheAsshole,hitting up dealer in the night time?,[removed],1,1,1579882577,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
2839,AmItheAsshole,etb610,gradesallmatter,t2_5imf7u5y,self.AmItheAsshole,aita for being dissapointed by my parents,[removed],1,0,1579876401,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
3726,AmItheAsshole,esvdtt,kinggmail,t2_5idlw193,self.AmItheAsshole,aita for not wanting my sister to move in with us,Back story. I am a male and i have a sister. M...,1,0,1579796584,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
3743,AmItheAsshole,esuzbj,kingofkrain,t2_5ideyntt,self.AmItheAsshole,aita for not wanting my sister to move in with...,[removed],1,0,1579794936,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
4452,AmItheAsshole,eshfyv,Adventurous-Device,t2_5gt3hdgb,self.AmItheAsshole,AITA for wishing my children didn't exist?,[removed],1,0,1579724034,https://www.reddit.com/r/AmItheAsshole/comment...,0.0
4871,AmItheAsshole,es7t4j,aitathrowaway271974,t2_55lpfvot,self.AmItheAsshole,AITA for doubting my friend who was sexually a...,[removed],1,0,1579672868,https://www.reddit.com/r/AmItheAsshole/comment...,0.0

### Create the Vote feature in the Comments df
find NTA and YTA (or ESH, NAH) in comments, and update vote column to be 1 for YTA/ESH and 0 for NTA/NAH

In [19]:
import re
def findWholeWord(w, comment):
    if re.compile(r'\b({0})\b'.format(w), flags=re.IGNORECASE).search(comment) != None:
        return True
    else: 
        return False
# thank you, Hugh Bothwell, adapted from hugh's answer here: 
#https://stackoverflow.com/questions/5319922/python-check-if-word-is-in-a-string

In [20]:
NTA_ids = []
YTA_ids = []
ESH_ids = []
NAH_ids = []
neither_ids = []

for i,p in enumerate(data_comments['body']):
    if findWholeWord('NTA', p):
        NTA_ids.append(i)
    elif findWholeWord('YTA', p):
        YTA_ids.append(i)
    elif findWholeWord('ESH', p):
        ESH_ids.append(i)
    elif findWholeWord('NAH', p):
        NAH_ids.append(i)
    else:
        neither_ids.append(i)

In [21]:
asshole_ids = YTA_ids + ESH_ids
not_asshole_ids = NTA_ids + NAH_ids
all_voted_ids = asshole_ids + not_asshole_ids


len(all_voted_ids)+len(neither_ids)

110494

In [22]:
yta_df = data_comments.iloc[asshole_ids]
yta_df['vote'] = 1

nta_df = data_comments.iloc[not_asshole_ids]
nta_df['vote'] = 0

/Users/jenabrentano/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/jenabrentano/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [23]:
nta_df.shape #(58597, 7)
yta_df.shape #(29329, 7)

(29329, 6)

In [24]:
data_comments = pd.concat([nta_df, yta_df], axis=0)

In [25]:
data_comments.shape

(87926, 6)

In [26]:
data_comments.reset_index(inplace=True, drop=True)

### Tally the votes

Modify below to count vote*score instead - can't do actually because score data didn't come in :(

In [27]:
no_comments_ids = []
asshole_parent_ids = []
not_asshole_parent_ids = []
toss_up_parent_ids = []

for i in parent_ids:
#     votes_yta = data_comments['vote'][(data_comments['parent'] == i) & (data_comments['vote'] == 1)].count()
#     votes_nta = data_comments['vote'][(data_comments['parent'] == i) & (data_comments['vote'] == 0)].count()
#     total_votes = data_comments['vote'][data_comments['parent'] == i].count()

    votes_yta = data_comments['vote'][(data_comments['parent'] == i) & (data_comments['vote'] == 1)].count()
    votes_nta = data_comments['vote'][(data_comments['parent'] == i) & (data_comments['vote'] == 0)].count()
    total_votes = data_comments['vote'][data_comments['parent'] == i].count()


    if total_votes == 0:
        no_comments_ids.append(i)
        
    else:
        if votes_nta < votes_yta:
            asshole_parent_ids.append(i)
        elif votes_nta > votes_yta:
            not_asshole_parent_ids.append(i)
        else:
            toss_up_parent_ids.append(i)

In [28]:
len(no_comments_ids)

1308

In [29]:
len(asshole_parent_ids)

857

In [30]:
len(not_asshole_parent_ids)

2679

In [31]:
len(toss_up_parent_ids)

156

In [32]:
len(no_comments_ids) + len(asshole_parent_ids) + len(not_asshole_parent_ids) + len(toss_up_parent_ids)

5000

### Create final vote feature for submissions

In [33]:
asshole_parent_ids[:5]
data_submissions['vote'] = ''

In [34]:
df_yta = data_submissions.loc[data_submissions['id'].isin(asshole_parent_ids),:]
df_nta = data_submissions.loc[data_submissions['id'].isin(not_asshole_parent_ids),:]

In [35]:
df_yta['vote'] = 1
df_nta['vote'] = 0

/Users/jenabrentano/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/jenabrentano/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Got rid of ties in final df

In [36]:
df = pd.concat([df_yta, df_nta], axis=0)

In [37]:
df.reset_index(inplace=True, drop=True)
df.shape

(3536, 13)

In [38]:
df.vote.value_counts()
df_final = df.loc[:,['id','title','selftext','total_comments','vote']]

In [39]:
# df_yta.to_csv('./datasets/yta_4.csv')
#df_nta.to_csv('./datasets/nta_4.csv')

#df_final.to_csv('./datasets/final_2.csv', index=False)

In [40]:
#tie_comments = data_comments.loc[data_comments['parent'].isin(toss_up_parent_ids), :]
#pd.options.display.max_rows = 999
# pd.set_option('display.max_colwidth', 150)
# tie_comments[['body', 'parent','vote']].sort_values(by='parent')